#top{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
    color: #272727;
}
  
nav{
    width: 100%;
    height: 85px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.11);
}
nav ul{
    float: right;
}
nav ul li{
    float: left;
    list-style: none;
    position: relative;
}
nav ul li a{
    font-size: 24px;
    padding: 28px;
    display: block;
}
nav ul li a:hover{
    background-color: #ebebeb;

}
nav ul li ul{
    display: block;
    position: absolute;
    background-color: #338585;
    padding: 7px;
    border-radius: 0px 0px 12px 12px;
    display: none;
}
nav ul li:hover ul{
    display: block;
}
nav ul li ul li a{
    color: rgb(255, 255, 255);
    padding: 16px 20px;
    border-radius: 10px;
}
nav ul li ul li a:hover{
    background-color: #296b6b;
}
.logo{
    width: 3%;
    padding-left: 5px;
    padding-top: 5px;
}
.name{
    font-size: 50;
    display:inline;
}

body{
    margin: 0;
    padding: 0;
    background: radial-gradient(white, rgb(236,236,236));
}
a{
    
    font-size: 30px;
    text-decoration: none;

}
.ee{
    padding-top: 300px;
    font-size:50px; 
    text-align: center;
    animation: colorChange 5s infinite;
    text-align: center;
}
.eealternateive{
    font-size:50px; 
    display: flex;
    justify-content: center;
}
@keyframes colorChange {
    0% { color: red; }
      14% { color: orange; }
      28% { color: yellow; }
      42% { color: lime; }
      57% { color: blue; }
      71% { color: indigo; }
      85% { color: violet; }
      100% { color: red; }
}
.notch{
    float: right;
    width: 20%;
    padding-left: 30;
}
.link{
    color: rgb(75, 118, 182);
    text-decoration:underline;
}
h1{
    text-align: center;
    font-size: 40;
}
.mitte{
    text-align: center;
    justify-content: center;
}
.minecraft{
    text-align: center;
    justify-content: center;
}